body{
margin:0;
font-family:Arial;
background:#f4f6f9;
display:flex;
}

/* Sidebar */

.sidebar{
width:220px;
height:100vh;
background:#1e293b;
color:white;
padding:20px;
}

.sidebar h2{
text-align:center;
}

.sidebar ul{
list-style:none;
padding:0;
}

.sidebar li{
padding:12px;
cursor:pointer;
border-radius:6px;
}

.sidebar li:hover{
background:#334155;
}

/* Main Area */

.main{
flex:1;
padding:20px;
}

.topbar{
background:white;
padding:15px;
border-radius:8px;
margin-bottom:20px;
}

/* Cards */

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:20px;
}

.card{
background:white;
padding:20px;
border-radius:10px;
text-align:center;
box-shadow:0 2px 5px rgba(0,0,0,0.1);
}

.card h3{
margin:0;
color:#555;
}

.card p{
font-size:28px;
font-weight:bold;
margin-top:10px;
}
